*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 10px 130px; 
    background-color: #ECFFFA; 
}

.header.scrolled {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #ECFFFA;
}


.container-fluid {
    background-color: #ECFFFA;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px;
}


.logo {
    margin-right: 322px; 
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ECFFFA; 
    color: #666666;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.dropdown{
    font-size: 16px;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
color: #07CB83;
}

.dropdown-content a {
    color: #666666;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.arrow {
    margin-left: auto; 
    transition: transform 0.3s ease;
    max-width: 25px;
}

.dropbtn.active {
    color: #07CB83;
}

.dropbtn.active .arrow {
    filter: brightness(0) 
            saturate(100%) 
            invert(56%) 
            sepia(85%) 
            saturate(750%) 
            hue-rotate(110deg) 
            brightness(90%) 
            contrast(90%);
}


.dropbtn.active .arrow {
    transform: rotate(180deg); 
}

.auth-links {
    display: flex;
    gap: 20px; 
    margin-right: -60px;
}

.auth-links a {
    text-decoration: none;
    color: inherit;
}

.auth-link1-btn {
    background-color: #ECFFFA;    
    border-radius: 4px;
    border: 1px solid #666666;
    height: 44px;
    width: 120px;
    color: #666666;
}

.auth-link1-btn:hover {
    background-color: #f8f8f8;
    border: 1px solid #24C699; 
    color: #24C699; 
    cursor: pointer; 
}

.auth-link2-btn {
    background-color: rgb(1, 250, 179);
    border-radius: 4px;
    height: 44px;
    width: 120px;
    border: 0;
    color: white;
    text-decoration: none;
}

.auth-link2-btn:hover {
    background-color: #53ffce; 
    color: #666666; 
    cursor: pointer; 
}

.auth-links a {
    text-decoration: none;
    color: inherit;
}

/* about */
.about {
    display: flex;
    padding: 60px 200px;
    background-color: #ECFFFA;
    color:#666666;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

.about-luarsekolah {
    text-align: center;
    line-height: 1.8;
    max-width:850px; 
}

.about-luarsekolah h1{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;

}


.highlight-h1 {
    color: #24C699; 
}

.highlight-p {
    font-weight: bold;
    color: #24C699; 
    animation: colorChange 3s infinite; 
}

/* Definisi animasi */
@keyframes colorChange {
    0% {
        color: #00E88B; 
    }
    50% {
        color: #00956F; 
    }
    100% {
        color: #00E88B; 
    }
}


.about-luarsekolah p{
    font-weight: 600;
    margin: 20px 0;
    font-size: 16px;
}

/* story */
.story {
    padding: 0;
    background-color: #24C699;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    overflow: hidden;
}

.slideshow {
    width: 100%;
    height: 100%;
    position: relative;
}

.slideshow .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-size: 100%;
    background-position: center;
    opacity: 0;
    transform: translateY(100%);
    animation: slideAnimation 12s infinite;
    color: white;
}

.slideshow .slide .content-slide {
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
}

.slideshow .slide:nth-child(1) {
    animation-delay: 0s;
}

.slideshow .slide:nth-child(2) {
    animation-delay: 4s;
}

.slideshow .slide:nth-child(3) {
    animation-delay: 8s;
}

@keyframes slideAnimation {
    0%, 20% {
        opacity: 0;
        transform: translateY(100%);
    }
    25%, 50% {
        opacity: 1;
        transform: translateY(0);
    }
    55%, 100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.content-slide h1 {
    font-size:36px;
    margin: 0.5rem 0;
}

.content-slide p, ul {
    padding: 5px 150px;
    font-size: 16px;
    max-width: 100%;
    line-height: 1.5;
}


/* visi-misi */
.visi-misi {
    padding: 60px 150px;
    background-color: #ECFFFA;
    color:#666666;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.title-visimisi {
    text-align: center;
    margin-bottom: 50px;
}
.title-visimisi h1 {
    font-size: 36px;
    font-weight: bold;
    color: #24C699;
    margin-bottom: 10px;
}

.title-visimisi h4 {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.content-visimisi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.animation-visi img {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.visi-right {
    text-align: left;
}

.visi-right h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: #24C699;
}

.visi-right p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    width: 85%;
}

.misi-left ul li{
    text-align: left;
    width: 100%;
}

.misi-left h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: #24C699;
}

.misi-left h2 img{
    width: 40px;

}

.visi-right h2 img{
    width: 40px;
}

.misi-left ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.misi-left ul li {
    margin-bottom: 10px;
    position: relative;
}

.misi-left ul li::before {
    content: "•";
    color: #24C699;
    font-size: 18px;
    margin-right: 10px;
}

.animation-misi img {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    .content-visimisi {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .animation-visi img,
    .animation-misi img {
        width: 60%;
    }
}

/* value */
.value-section {
    text-align: center;
    padding: 60px 150px;
    background-color: #ffffff; 
    color: #4a4a4a;
    box-sizing: border-box;
    /* height: 60vh; */
}

.value-header h2 {
    font-size: 2.5rem;
    color: #24C699; 
    margin-bottom: 10px;
}

.value-header p {
    font-size: 1.2rem;
    color: #7a7a7a;
    margin-bottom: 50px;
}

.value-content {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    flex-wrap: wrap; 
}

.value-item {
    text-align: center;
    flex: 1 1 30%; 
    max-width: 300px; 
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.value-item img {
    width: 80px; 
    height: 80px; 
    margin-bottom: 10px; 
    transition: transform 0.3s ease;
}

.value-item p {
    font-size: 1rem;
    color: #24C699;
    margin: 0;
}

/* Hover Effect */
.value-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.value-item:hover img {
    transform: scale(1.1);
}

/* Responsiveness untuk layar kecil */
@media (max-width: 768px) {
    .value-content {
        flex-direction: column;
        align-items: center;
    }

    .value-item {
        max-width: 100%; 
    }
}


/* keunggulan */
.keunggulan{
    padding: 60px 150px;
    text-align: center;
    color: #666666;
    background-color: #ECFFFA;
}

.keunggulan-header h2 {
    font-size: 2.5rem;
    margin-bottom: 80px;
    color: #24C699;
}

.keunggulan-header span {
    color: #666666;
}

.keunggulan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37%, 1fr));
    gap: 40px;
    margin-top: 30px;


}

.keunggulan-item {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    width: 100%;
    padding: 50px 30px;

}

@media (max-width: 768px) {
    .solution-grid {
        grid-template-columns: 2fr; /* 1 kolom per baris di layar kecil */
    }
}

.keunggulan-item img {
    width: 70px;
    height: 70px;
    margin-top: -160px;
    margin-bottom: 15px;
}

.keunggulan-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666666;
}

.keunggulan-item p {

    font-size: 1rem;
    color: #666666;
}

.keunggulan-item .highlight {
    color: #24C699;
    font-weight: bold;
}

/* Hover Effect */
.keunggulan-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* pencapaian */
.pencapaian {
    padding: 5px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    text-align: center;
}

/* Bagian Animasi Pencapaian */
.animasi-pencapaian img {
    width: 25rem;
    height: auto;
    margin-bottom: 20px;
    margin-right: 50rem;
    margin-left: 15rem;
}

/* Bagian Konten Deskripsi */
.content-pencapaian {
    max-width: 600px;
    margin-top: -20rem;
    margin-bottom: 10rem;
    margin-left: 30rem;
    text-align: left;
    width: 450px;
}

.content-pencapaian h1 {
    font-size: 32px;
    color: #24C699;
    margin-bottom: 15px;
}

.content-pencapaian p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

/* Bagian Total Pencapaian */
.total-pencapaian {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.total-pencapaian div {
    padding: 20px;
    text-align: center;
}

.total-pencapaian h4 {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.total-pencapaian h1 {
    font-size: 24px;
    color: #24C699;
    font-weight: bold;
}

@media (max-width: 768px) {
    .total-pencapaian {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .total-pencapaian {
        grid-template-columns: 1fr;
    }
}

/* Kenalan Yuk */
.Kenalan{
    background-image: url(../bg/bg-kenalan.png);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-color: #ecfffa;
    
}

.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .title-contact h2 {
  color: #fff ;
  font-weight: 500;
  
}

.box-contact {
  display: grid;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

}

.contact-maps {
  width: 100%;
  height: auto;
  flex: 50%;
  max-width: 50%;
}

.contact-maps iframe{
  width: 400px;
  height: 250px;
  border-radius: 5px;
}

.contact-info {
  display: flex;
  width: 80%;
  height: auto;
  flex: 1; /* Mengisi ruang yang sama dengan map */
  min-width: 300px;
  max-width: 80%;
  margin-left: 450px;
  margin-top: -250px;
  font-size: 14px;
}

.infoBox {
  display: relative;
  height: 350px;
  font-size: 14px;
}

.infoBox tr td:first-child{
  padding-right: 20px;
}

.infoBox tr td{
  padding-bottom: 40px;
  color: #fff;
}

.colaboration {
  position: relative;
  width: 65%;
  margin: auto;
  background-image: url(../animation/animasi-kontak.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 200px;
  border-radius: 10px;
  box-shadow: inset;
  padding: 25px;
  background-color: #fff;
  filter: drop-shadow(1px 2px 7px #838383);
}

.colaboration .title-collab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-bottom: 40px;
}

.title-collab p {
  font-size: 25px;
  font-weight: 500;
  color: #20a281;
}

.container-collab .btn-colab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-colab .button {
  background-color: #20a281;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}


/* footer */
.footer {
    padding: 60px 130px;
    background-color: #ECFFFA;
    color:#666666;
    font-weight: 400;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.footer-logo img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-content,
.footer-content-tentang,
.footer-content-program,
.footer-content-dukungan{
    flex: 4;
    align-items: flex-start;
    margin-top: -10px;
    margin-right: 10px;
}

.footer-content-tentang{
    margin-left: 10px;
    margin-right: -50px;
}

.footer-social img{
    width: 20px; 
    margin-right: 15px;
    padding: 5px 0;
}

.footer-playstore img{
    width: 100px; 
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px 0;
}

.footer-info p {
    width: 350px; 
    font-size: 14px;
    margin-bottom: 25px;
}

.footer ul {
    list-style-type: none; 
    padding: 0;
    margin-top: 75px;
    font-size: 14px;
}

.footer ul li a {
    text-decoration: none; 
    color: #666666;
}

.footer ul li a:hover {
    color: #24C699; 
}

.footer ul li {
    margin-bottom: 10px; 
}

.copyright p{
    text-align: center;
    font-size: 14px;
}


/* Page 2 Recap*/
.hero {
    display: flex;
    padding: 60px 200px;
    background-color: #ECFFFA;
    color:#666666;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

.hero .Recap-luarsekolah {
    text-align: center;
    line-height: 1.8;
    max-width: 55%;
}

.Recap-luarsekolah h1{
    font-size: 44px;
    margin-bottom: 30px;
    font-weight: 600;

}

.Recap-luarsekolah .highlight-h1 {
    color: #24C699; 
}

.Recap-luarsekolah p {
    font-size: 16px;
}